@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "logoFont";
  font-weight: 400;
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: "titleFont";
  font-weight: 700;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

.tippy-box[data-theme~="darkTippy"] {
  background-color: #19191c;
  color: #f9fafb;
}
.tippy-box[data-theme~="darkTippy"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #19191c;
}
.tippy-box[data-theme~="darkTippy"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #19191c;
}
.tippy-box[data-theme~="darkTippy"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #19191c;
}
.tippy-box[data-theme~="darkTippy"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #19191c;
}

.circle {
  @apply w-4 h-4 pt-4 bg-gray-500 rounded-full;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
